<?xml version="1.0" encoding="utf-8" ?>
<!--nlog 基础配置  第二行throwExceptions开始 上线后关闭-->
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  throwExceptions="true" throwConfigExceptions="true" internalLogLevel="Trace" >
  <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
  <extensions>
    <add assembly="ZZH.NLog.Kafka"/>
    <!--<add assembly="NLog.Web.AspNetCore"/>-->
  </extensions>
  <targets>
    <!--<target xsi:type="BufferingWrapper" name="kafkaBuffering" bufferSize="100">-->
    <!--<default-wrapper xsi:type="BufferingWrapper" bufferSize="100" overflowAction="Flush" />-->
    <target name="queue" xsi:type="kafka" topic="yudiefly-workspaces-app">
      <!-- bootstrap.servers = 127.0.0.1:9092,127.0.0.1:9092,127.0.0.1:9092 -->
      <producerConfig key="bootstrap.servers" value="10.132.12.11:9092,10.132.12.7:9092,10.132.12.8:9092" />
      <!--<producerConfig key="queue.buffering.max.messages" value="2000000" />
        <producerConfig key="retry.backoff.ms" value="500" />
        <producerConfig key="message.send.max.retries" value="3" />-->
      <producerConfig key="sasl.username" value="9740d9b27d5a" />
      <producerConfig key="sasl.password" value="1efd388171b8" />
      <producerConfig key="sasl.mechanism" value="PLAIN" />
      <producerConfig key="security.protocol" value="SASL_PLAINTEXT" />
      <layout xsi:type="JsonLayout">
        <attribute name="ProductLine" layout="shadow" />
        <attribute name="ApplicationName" layout="shadowscaffold" />
        <attribute name="LogTime" layout="${longdate}" />
        <attribute name="Level" layout="${level:upperCase=true}"/>
        <attribute name="Message" layout="${message}" />
        <attribute name="Environment" layout="test" />
        <attribute name="HostName" layout="${HostName}" />
      </layout>
    </target>
    <target name="console" xsi:type="Console" />
    <!--</target>-->
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="queue" />
    <!--    <logger name="*" writeTo="console" />-->
  </rules>
</nlog>